<p id="notice"><%= notice %></p>

<p>
  <strong>Completed:</strong>
  <%= @todo_list.completed %>
</p>

<p>
  <strong>Task:</strong>
  <%= @todo_list.task %>
</p>

<%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
<%= link_to 'Back', todo_lists_path %>
